.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
}

.flex-container {
  height: 100%;
}

.logo {
  cursor: pointer;
  margin-right: 0.75vw;
  height: 80%;
}
